body
{              
    	text-align:center;
	margin: 0;
	padding: 0;
	color: #FFF;
	font: normal 10pt Arial,Helvetica,sans-serif;
	background: #63adca;
        background:#fff url(fat-lines.gif) repeat;
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#63adca', endColorstr='#63adca',GradientType=0 );
}

input[type="text"],
input[type="password"] {
}
input[type="text"]:focus,
input[type="password"]:focus {
  outline: 2px solid #5cb623;
}	
#page
{    
    width: 950px;
    text-align:left;
    margin-top: -10px;
    padding-top: 10px;
    margin-bottom: 5px;
    background: #00304C;                
    margin:0 auto;
}

#header
{
	margin: 2px;
	padding: 0;
}

#content
{	
    padding: 5px;
	width:860px; 
    overflow-x: scroll;
}

#footer
{
	padding: 10px;
	margin: 10px 20px;
	font-size: 0.8em;
	text-align: center;
	font-weight: bold;
	color: white;
	text-shadow: 1px 1px 1px black;	
}

#logo
{	border: 1px solid #BBE1EE;
	padding: 25px 15px;
	font-size: 200%;	
}
#nombre
{	
    text-align: right;	
}
#mainmenu
{
	margin-bottom: 10px;
}

#mainmenu ul
{
	padding:6px 20px 5px 20px;
	margin-bottom: 10px;
}

#mainmenu ul li
{
	display: inline;
	margin: 3px;
}

#mainmenu ul li a
{
	color:#FFF;
	background-color: transparent;
	font-size:13px;
	font-weight:bold;
	text-decoration:none;
}

#mainmenu ul li a:hover, #mainmenu ul li.active a
{
	color: #FFF;
	background-color: #00B520;
	text-decoration:none;
}
#sidebar
{
	padding: 20px;
	height: 100%;
}

.portlet-decoration
{
	background-color: #004F79;
}

.portlet-title
{
	font-size: 12px;
	font-weight: bold;
	padding: 0;
	margin: 0;
	color: #FFF;
}

.portlet-content
{
	margin: 10px;
}


.portlet-content ul
{
	list-style-image:none;
	list-style-position:outside;
	list-style-type:none;
	margin: 0;
	padding: 0;
}

.portlet-content li
{
	padding: 2px 0 4px 0px;
}
.operations
{
	list-style-type: none;
	margin: 0;
	padding: 0;
}

.operations li
{
	padding-bottom: 2px;
	
	margin: 5px 0;
	padding: 0 !important;
}

.operations li a
{
	display: block;
	background-color: #80BD26;
	font: bold 12px Arial;
	color: #FFF;
	text-decoration: none;
}

.operations li a:visited
{
	color: #FFF;
}

.operations li a:hover
{
	background-color: #5EB520;
}
.buttons input
{
	width:100px;
	height:30px;
 display: inline-block;
  padding: 4px 10px 4px;
  font-size: 13px;
  line-height: 18px;
  color: #333333;
  text-align: center;
  text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
  background-color: #aa22dd;
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ffffff), color-stop(25%, #ffffff), to(#e6e6e6));
  background-image: -webkit-linear-gradient(#ffffff, #ffffff 25%, #e6e6e6);
  background-image: -moz-linear-gradient(top, #ffffff, #ffffff 25%, #e6e6e6);
  background-image: -ms-linear-gradient(#ffffff, #ffffff 25%, #e6e6e6);
  background-image: -o-linear-gradient(#ffffff, #ffffff 25%, #e6e6e6);
  background-image: linear-gradient(#ffffff, #ffffff 25%, #e6e6e6);
  background-repeat: no-repeat;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#e6e6e6', GradientType=0);
  border: 1px solid #ccc;
  border-bottom-color: #bbb;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
  -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
  cursor: pointer;
  margin-left: .3em;
}

.buttons input:first-child
{
  margin-left: 0;
}
.buttons input:hover
{
  color: #333333;
  text-decoration: none;
  background-color: #e6e6e6;
  background-position: 0 -15px;
  -webkit-transition: background-position 0.1s linear;
  -moz-transition: background-position 0.1s linear;
  -ms-transition: background-position 0.1s linear;
  -o-transition: background-position 0.1s linear;
  transition: background-position 0.1s linear;
}
.buttons input:focus
{
  outline: thin dotted;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}
.buttons input:active
{
  background-image: none;
  -webkit-box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05);
  -moz-box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05);
  box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05);
  background-color: #e6e6e6;
  background-color: #d9d9d9;
  color: rgba(0, 0, 0, 0.5);
  outline: 0;
}


#page #main-content
{
	margin: 20px;
	background: #004F7A;
        width: 910px;	
}

#page .container
{
	color: #555;
	background-color: #FFF;
	margin: 20px;
        width: 870px;
}


#page, #page .container, #page #main-content
{
	border: 1px solid #BBE1EE;
	-moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    -khtml-border-radius: 10px;
    -o-border-radius: 10px;
    border-radius: 10px;
}

#mainmenu ul li a, .portlet-decoration, .operations li a
{
	padding:11px 12px;
	-moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -khtml-border-radius: 5px;
    -o-border-radius: 5px;
    border-radius: 5px;
	color: white;
	text-align: center;
	
	text-shadow: rgba(0,0,0,0.5) 1px 0px 0px;
}
#page, #page .container, #page #main-content
{
    -moz-box-shadow:0 0 3px #000000;
   -webkit-box-shadow:0 0 3px #000000;
   box-shadow:0 0 3px #000000;	
}
/*#resultados
{
    width:850px; 
    overflow-x: scroll;
}*/
#error h5
{ 
    font: oblique 10pt Arial,Helvetica,sans-serif;
    color:#ff0000;
}

.container {width:950px;margin:0 auto;}
.column, .span-1, .span-2, .span-3, .span-4, .span-5, .span-6, .span-7, .span-8, .span-9, .span-10, .span-11, .span-12, .span-13, .span-14, .span-15, .span-16, .span-17, .span-18, .span-19, .span-20, .span-21, .span-22, .span-23, .span-24 {float:left;margin-right:10px;}
.last {margin-right:0;}
.span-1 {width:30px;}
.span-2 {width:70px;}
.span-3 {width:110px;}
.span-4 {width:150px;}
.span-5 {width:190px;}
.span-6 {width:230px;}
.span-7 {width:270px;}
.span-8 {width:310px;}
.span-9 {width:350px;}
.span-10 {width:390px;}
.span-11 {width:430px;}
.span-12 {width:470px;}
.span-13 {width:510px;}
.span-14 {width:550px;}
.span-15 {width:590px;}
.span-16 {width:630px;}
.span-17 {width:670px;}